    <div class="jumbotron mt-4">
        <h1 class="dislpay-4 text-center">
            Hi, I'm About Page
        </h1>
        <p>This website was created by Saul Medina</p>
    <p class="lead">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum beatae, facere quos eius nesciunt quia placeat earum molestiae, totam velit quibusdam molestias autem exercitationem distinctio quo modi. Consectetur sequi minus labore suscipit placeat, quos nemo alias eius ea reiciendis autem quis eveniet necessitatibus aut aspernatur natus ullam, quo rerum officiis fugiat. Voluptate, voluptatem ipsum!
    </p>
    <hr class="my-4">
    </div>